@font-face {
  font-family: "Madani Arabic Extra Bold";
  src: local("Madani Arabic Extra Bold"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Extra\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Medium";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Medium.ttf ") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Semi Bold";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Semi\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Medium";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Medium.ttf ") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Regular";
  src: local("Madani Arabic Regular"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Regular.ttf ") format("truetype");
}


body {
  font-family: 'Madani Arabic Regular' !important;
  background-color: #e5e5e5
}



::-webkit-scrollbar {

}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 650px;
  height: 680px;
  /*calc(100vh - 70px);*/
}

.hero-banner-img {
  position: absolute;
right:90px;
  top: 0px;
  width: 500px;
  height: 700px;
  margin-top: -150px;

}

.hero-btn{
      outline: 0;
      border: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: fit-content;
      height: 50px;
      border-radius: 0.5em;
      overflow: hidden;
}  

.hero-btn div {
      transform: translateY(0px);
      width: 100%;
    }
  
        .hero-btn,
        .hero-btn div {
      transition: 0.6s cubic-bezier(.16, 1, .3, 1);
    }
  
        .hero-btn div span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0.75em 1.125em;
    }
  
        .hero-btn div:nth-child(1) {
      background-color: #FF2625;
    }
  
        .hero-btn div:nth-child(2) {
      background-color: #9b8f8f;
    }
  
  
        .hero-btn:hover div {
      transform: translateY(-50px);
    }
  
        .hero-btn p {
      font-size: 17px;
      font-weight: bold;
      color: #ffffff;
    }
  
        .hero-btn:active {
      transform: scale(0.95);
    }

.exercise-card {
  width: 400px;
  height: 445px;
  background: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  border-radius: 18px;
}
.Ec{
  background-color: #DF2020;
  mix-blend-mode: color-burn;
}
.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}


search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 387px;
  height: 277px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

.rect{
  position: absolute;
    width: 567px;
    height: 1403px;
    left: 622px;
    top: -170px;
  
    background: #F24B4B;
}

.block {
  display: flex;
  justify-content: center;
  transform: translateY(3.3rem);
  gap: 15px;
}

.line {
  transform: translateY(5rem);
  border: 1px solid black;
}

.subscribe {
  height: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-style: italic;
  transform: skew(20deg);
  text-transform: uppercase;
}

#red-rectangle{
  background-color: #DF2020;
  width: 160px;
}

#black-rectangle{
  background-color: #4A4A4A;
    width: 25px;
}

.hero-banner-img2 {
  position: absolute;

  bottom: -280px;
  width: 500px;
  height: 500px;
  left: 380px;

}

.cover{

  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5)), url('../src/assets/images/man_in_gym.jpg');
  
}


.btn6 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 5px 20px;
  font-size: 20px;
  border: 0;
  background-color: #FF2625;
  border-radius: 20px;
  overflow: hidden;

}

.btn6:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  opacity: 1;
}

.btn6:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

.btn6:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
}

.btn6 i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.btn6:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
}

.btn6 i:nth-child(1) {
  transition-delay: 0.045s;
}

.btn6:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

.btn6:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

.btn6:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}
.btn6:hover i:nth-child(5) {
  transition-delay: calc(0.045s * 5);
}

.btn6:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

.btn6:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

.btn6:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

.btn6:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

.btn6:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

.btn6:hover i:nth-child(11) {
  transition-delay: calc(0.045s * 11);
}

.btn6:hover i:nth-child(12) {
  transition-delay: calc(0.045s * 12);
}

.btn6:hover i:nth-child(13) {
  transition-delay: calc(0.045s * 13);
}

.btn6:hover i:nth-child(14) {
  transition-delay: calc(0.045s * 14);
}

.btn6:hover i:nth-child(15) {
  transition-delay: calc(0.045s * 15);
}

.btn6:hover i:nth-child(16) {
  transition-delay: calc(0.045s * 16);
}

.btn6:hover i:nth-child(17) {
  transition-delay: calc(0.045s * 17);
}

.selected{
  background-color: #FF2625;
  opacity: 0.1;
}

























.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
}

.product-container {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.next-btn {
  right: 0;
}

.next-btn p,
.pre-btn p {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.436);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mycard {
  min-width: 300px;
  max-width: 300px;

  height: 400px;
  background-color: black;
  margin: 10px;
  color: white;
}








.react-horizontal-scrolling-menu--wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.react-horizontal-scrolling-menu--scroll-container {
  flex-basis: 100%;
  flex-shrink: 0;
}

/* Change position of container so arrows will be at top/bottom */
.react-horizontal-scrolling-menu--scroll-container {
  order: -1;
}

/* Arrow on TOP */
/* .react-horizontal-scrolling-menu--scroll-container {
  order: 1;
} */
.react-horizontal-scrolling-menu--wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.react-horizontal-scrolling-menu--scroll-container {
  order: 1;
  flex-basis: 100%;
  flex-shrink: 0;
}


.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



.slider-container {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.slider {
  height: 100%;
  display: flex;
  ;
}

.slides {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.back {
  left: 10px
}


.foward {
  right: 10px;
}

.arrow:hover {
  background-color: lightgray;
}

.footer{
display: flex;
align-items: center;
justify-content: space-between;
}

.footer div{
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.footer p{
  color: white;
}

.creator{
  margin-right: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.caro-div{
  position: relative;
  display: flex;
  align-items: center;
}

.caro-img{
  width: 220px;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}

.caro-img:hover{
transform: scale(1.25);
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms;
}

#caro{
  display: flex;
}
.caro-items{
 width: 1250px;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
 
}

.slide-btn{
  opacity: 0.5;
  cursor: pointer;
  width: 2rem;
  height: 1.5rem;
}

.slide-btn:hover{
  opacity: 1;
}


.videos-card{
  width: 300px;
}