@font-face {
  font-family: "Madani Arabic Extra Bold";
  src: local("Madani Arabic Extra Bold"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Extra\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Medium";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Medium.ttf ") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Semi Bold";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Semi\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Medium";
  src: local("Madani Arabic Medium"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Medium.ttf ") format("truetype");
}

@font-face {
  font-family: "Madani Arabic Regular";
  src: local("Madani Arabic Regular"),
    url("./fonts/Madani-Arabic-Font-Family/Madani\ Arabic\ Regular.ttf ") format("truetype");
}


body {
  font-family: 'Madani Arabic Regular' !important;
  background-color: #e5e5e5
}


.detail-image {
  width: 650px;
  height: 680px;
}


.hero-banner-img {
  position: absolute;
  right:90px;
  top: 0px;
  width: 500px;
  height: 700px;
  margin-top: -150px;
}

.hero-btn{
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: fit-content;
  height: 50px;
  border-radius: 0.5em;
  overflow: hidden;
}  

.hero-btn div {
  transform: translateY(0px);
  width: 100%;
}
  
.hero-btn,.hero-btn div {
  transition: 0.6s cubic-bezier(.16, 1, .3, 1);
}

.hero-btn div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
}
  
.hero-btn div:nth-child(1) {
  background-color: #FF2625;
}
  
.hero-btn div:nth-child(2) {
  background-color: #9b8f8f;
}
  
.hero-btn:hover div {
  transform: translateY(-50px);
}
  
.hero-btn p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}
  
.hero-btn:active {
  transform: scale(0.95);
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  border-radius: 18px;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(0.8,0.8);
}


.search-btn:focus {
  background-color: #eb2424!important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 387px;
  height: 277px;
  text-decoration: none;
}
  

@media screen and (max-width:1200px) {

  .detail-image {
    width: 300px;
    height: 300px;
  }
  .hero-banner-img {
    display: none;
  }
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

.cover{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../src/assets/images/man_in_gym.jpg');
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div{
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.footer p{
  color: white;
}

.creator{
  margin-right: 25px;
}


.carousel-container{
  position: relative;
  display: flex;
  align-items: center;
}


.carousel-items{
 width: 1250px;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
}

.arrows{
  opacity: 0.5;
  cursor: pointer;
  width: 2rem;
  height: 1.5rem;
}

.arrows:hover{
  opacity: 1;
}


.videos-card{
  width: 300px;
}

.text-title{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  max-width: 300px;
}

.video-channelName{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}